<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>头像上传</title>
</head>
<body>
    <form action="/upload" enctype="multipart/form-data" method="post">
        姓名：<input type="text" name="username"><br>
        头像：<input type="file" name="avatar" multiple><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>