
        body {
            background-color: #000;
            width: 100%; 
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text {
            width: 800px;
        }

        .lorem {
            color: #fff;
        }

        .lorem span {
            animation: lorem 0.1s both;
        }

        @keyframes lorem {
            0% {
                opacity: 0;
            }

            65% {
                opacity: 1;
                text-shadow: 0 0 25px white;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 0.75;
            }
        }
    